{% extends 'student/student_base.html' %}

{% block title %}Certificates{% endblock %}

{% block content %}

<div class="welcome">
    <h2>Certificates 🏆</h2>
    <p>View and download your earned certificates.</p>
</div>

<div class="section">
    <div class="grid">
        <div class="box">
            <h4>Ethical Hacking Certificate</h4>
            <p>Course completed successfully.</p>
            <a href="#">Download Certificate →</a>
        </div>

        <div class="box">
            <h4>Cryptography Basics</h4>
            <p>Complete the course to unlock certificate.</p>
            <a href="#">Locked</a>
        </div>
    </div>
</div>

{% endblock %}